[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
heroku = "*"

[packages]
requests = "*"
bs4 = "*"
html5lib = "*"
flask = "*"
gunicorn = "*"
flask-restful = "*"
sentry-sdk = {extras = ["flask"], version = "*"}

[requires]
python_version = "3.9"
